# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: retailfusion
service: my-node-api

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  environment:
    MONGODB_URI: ${env:MONGODB_URI}
    JWT_SECRET: ${env:JWT_SECRET}
    JWT_EXPIRES_IN: ${env:JWT_EXPIRES_IN}
    JWT_REFRESH_SECRET: ${env:JWT_REFRESH_SECRET}
  stage: dev
  apiGateway:
    shouldStartNameWithService: true

functions:
  app:
    handler: dist/index.handler
    events:
      - httpApi: '*'

plugins:
  - serverless-offline

package:
  include:
    - dist/**
    - node_modules/**
  exclude:
    - .gitignore
    - README.md
    - tsconfig.json
    - src/**
